.ordersList {
  min-height: 200px;
}

.orderCard {
  min-height: 70px;
  max-height: 70px;
  cursor: pointer;
  transition: var(--transition);
}

.orderCard:hover,
.orderCard.selected {
  box-shadow: var(--shadow-lg);
  transform: translateY(-4px);
}

/* Скрыть элементы при открытой панели деталей */
.ordersList.ordersList--detail-open .orderCard .orderCard__titleSection {
  display: none !important;
}

/* Переключение между названием и Order ID на мобильных */
.ordersList.ordersList--detail-open .orderCard .d-lg-none .orderCard__mobileTitle {
  display: none !important;
}

.ordersList.ordersList--detail-open .orderCard .d-lg-none .orderCard__mobileOrderId {
  display: inline !important;
}

/* На экранах менее lg всегда показывать Order ID вместо названия */
@media (max-width: 991.98px) {
  .orderCard__mobileTitle {
    display: none !important;
  }
  
  .orderCard__mobileOrderId {
    display: inline !important;
  }
}

/* При открытой панели деталей средняя секция займет всю доступную ширину */
.ordersList.ordersList--detail-open .orderCard__middleSection {
  flex-grow: 1 !important;
}

/* Обёртка для иконки */
.orderCard__iconWrapper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  font-size: 16px;
  border: solid 2px #b9bcc3;
}

/* Новый элемент: контейнер для стрелки */
.orderCard__arrowContainer {
  width: 50px;
  background-color: #f0f0f0;
  transition: all 0.2s ease-in-out;
}

/* Показываем стрелку только для выбранной карточки */
.orderCard.selected .orderCard__arrowContainer {
  display: flex !important;
}

.orderCard__arrowIcon {
  width: 24px;
  height: 24px;
  color: var(--text-secondary);
}

.orderCard__deleteButton {
  transition: background-color 0.2s ease;
}

.orderCard__deleteButton:hover {
  background-color: #ffebeb !important;
}

.orderCard__deleteIcon {
  width: 20px;
  height: 20px;
  transition: color 0.2s ease;
}

.orderCard__deleteButton:hover .orderCard__deleteIcon {
  color: #e74c3c !important;
}

/* Order Details - Общий контейнер */
.orderDetails {
  height: fit-content;
  max-height: calc(100vh - 80px);
  z-index: 1;
}

.orderDetails__closeButton {
  width: 35px;
  height: 35px;
  transform: translate(50%, -50%); 
  cursor: pointer;
  transition: background-color 0.2s ease;
  z-index: 50;
}